@tailwind base;
@tailwind components;
@tailwind utilities;

.bg1{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, #121212 100%);
}
.shadow1{
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.50);
}
.shadow2{
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 1));
}